env_name          : 'cartpole-v0'
n_episodes        : 50
max_ep_length     : 100
seed              : 123 #testing: 0, tuning: 123
render            : True
job_mode          : 'sweep'
randomize_dyn     : False
exp_notes         : 'Swingup of cartpole'

actor_params:
  actor_type   : 'linear_gaussian'
  min_log_std  : -0.5
  init_log_std : 0.0

critic_params:
  critic_type       : 'linear'


# reinforce:
#   horizon           : 32
#   gamma             : 0.99
#   n_iters           : 5
#   lr                : 0.01
#   num_cpu           : 10
#   particles_per_cpu : 6
#   kl_delta          : 100
#   max_linesearch_iters: 100

# reinforce:
#   horizon           : 32
#   gamma             : 1.0
#   n_iters           : 1
#   lr                : 0.3
#   # beta              : 0.5
#   filter_coeffs     : [0.25, 0.8, 0.0]
#   num_cpu           : 10
#   particles_per_cpu : 6
#   delta_kl          : 3.5
#   delta_reg         : 0.0
#   max_linesearch_iters: 100

reinforce:
  horizon           : 32
  gamma             : 1.0
  n_iters           : 5
  lr                : 1.0
  beta              : 0.0
  filter_coeffs     : [0.25, 0.8, 0.0]
  num_cpu           : 10
  particles_per_cpu : 6
  loss_thresh       : 0.001
  delta_kl          : 15.0 #10.0
  delta_reg         : 0.001
  max_linesearch_iters: 100



  #TODO - Add covariance growing and different covariance types
